.App {
    margin: 40px;
}

.App-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    color: #6d6d6d;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    height: 100%;
}

.App-item img {
    max-height: 250px;
    object-fit: contain;
}

.App-item div {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    height: 100%;
}

.App-item span {
    align-items: center;
    display: flex;
    justify-content: center;
}

.App-cart {
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    padding: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid lightblue;
    padding-bottom: 20px;
}

.cart-item div {
    flex: 1;
}

.cart-item .information,
.cart-item .buttons {
    display: flex;
    justify-content: space-between;
}

.cart-item img {
    max-width: 100px;
    object-fit: contain;
    margin-left: 40px;
}